<div class="sponsor">
	<div class="row">
		<div class="col-md-8">
			<div class="sponsor-name">
			</div>
			<div class="sponsor-ad-wrapper">
			<!-- TODO : to shrink the ad dimensions -->
				<%= image_tag("ad.jpg") %>
			</div>
		</div>
		<div class="col-md-4">
			<!-- TODO : Google Maps -->
		</div>
	</div>
</div>