<div class="content">
  <div id="owl-carousel" class="owl-carousel center">
    <div>
      <%= image_tag("upcoming-event.jpg", :size => '760x587') %>
    </div>
    <div>
      <%= image_tag("upcoming-event.jpg", :size => '880x635') %>
    </div>
    <div>
      <%= image_tag("upcoming-event.jpg", :size => '580x635') %>
    </div>
  </div>
  
</div>