<h1>Welcome to HKSA</h1>
<li><%= link_to 'Sign up', signup_path %></li>
<li><%= link_to 'Sign in', signin_path %></li>
<li><%= link_to 'Events', events_path %></li>

<h2>Subscribe us</h2>
<li><%= link_to 'Subscribe', member_signup_path %></li>
